{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h2>Créez un hébergement</h2>
<div class="container">
    <form method="POST">
     <fieldset>
        <legend>Form</legend>
        {% csrf_token %}
        {{ hebergement_form.as_p }}
        <select name="server" class="form-control">
        <option selected disabled="true">-- Selectionnez serveur --</option>
        <option value="ngnix">ngnix</option>
        <option value="apache">apache</option>
        </select>
        <br><br>
        <button class="btn btn-outline-success" type="submit">Creation</button>
     </fieldset>
    </form>
</div>

{% endblock content %}
