{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h2>Creation une machine virtuelle</h2>
<div class="container">
    <form method="POST">
     <fieldset>
        <legend>Form</legend>
        {% csrf_token %}
        {{ machine_form.as_p }}
        <button class="btn btn-outline-success" type="submit">Creation</button>
     </fieldset>
    </form>
</div>

{% endblock content %}
