{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h2>list_environnement_de_bureau</h2>
<div class="row">
    <div class="col">
        <div class="card" style="width: 30rem;">
            {% for un_environnement_de_bureau in list_environnement_de_bureau %}

                <p>----- Les caractéristiques de la votre machine virtuelle -----</p>
                <p>Nom de la machine virtuelle: <b>{{ un_environnement_de_bureau.nom }}</b> </p>
                <p>CPU: <b></b>{{ un_environnement_de_bureau.cpu }}</p>
                <p>RAM: <b>{{ un_environnement_de_bureau.ram }}</b> </p>
                <p>L'espace sur la disque <b>{{ un_environnement_de_bureau.stockage }}</b> </p>
 <p>systeme <b>{{ un_environnement_de_bureau.systeme.nomSysteme }}</b> </p>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
