{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h2>list_machines_virtuelles</h2>
<div class="row">
    <div class="col">
        <div class="card" style="width: 30rem;">
            {% for une_machine_virtuelle in list_machines_virtuelles %}

                <p>----- Les caractéristiques de la votre machine virtuelle -----</p>
                <p>Nom de la machine virtuelle: <b>{{ une_machine_virtuelle.nom }}</b> </p>
                <p>nom domaine <b>{{ une_machine_virtuelle.nomDomaine }}</b> </p>
                <p>CPU: <b></b>une_machine_virtuelle.cpu</p>
                <p>RAM: <b>{{ une_machine_virtuelle.ram }}</b> </p>
                <p>L'espace sur la disque <b>{{ une_machine_virtuelle.stockage }}</b> </p>
 <p>systeme <b>{{ une_machine_virtuelle.systeme.nomSysteme }}</b> </p>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
