{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h2>list_Hebergements</h2>
<div class="row">
    <div class="col">
        <div class="card" style="width: 30rem;">
            {% for un_hebergement in list_hebergements %}

                <p>----- Les caractéristiques de la votre machine virtuelle -----</p>
                <p>Nom de la machine virtuelle: <b>{{ un_hebergement.nom }}</b> </p>
                <p>CPU: <b></b>{{ un_hebergement.cpu }}</p>
                <p>RAM: <b>{{ un_hebergement.ram }}</b> </p>
                <p>L'espace sur la disque <b>{{ un_hebergement.stockage }}</b> </p>
 <p>systeme <b>{{ un_hebergement.systeme.nomSysteme }}</b> </p>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
