{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h2>La liste de votre noms des domaines</h2>
<div class="row">
    <div class="col">
        <div class="card" style="width: 30rem;">
            {% for un_nom_domaine in list_noms_domaines %}

                <p>----- Votre noms de domaines -----</p>
                <p>Nom de domaine: <b>{{ un_nom_domaine.nom_domaine }}</b> </p>


            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
