{% extends 'la_base_accueil.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

    <div>
        <p>L’HéberBon, c’est une Startup qui a été créée en 2023. Le projet de la société est spécialisé dans l'hébergement web, micro-services, virtualisations des systèmes avec l'environnement graphique (Desktop),Certificat SSL, protection DDoS, sauvegardes et restauration des données. Dans la société travaillent deux développeurs, un commerçant, un comptable et un directeur.</p>
        <p>Pour le moment, l’HéberBon revend les serveurs de grands hébergeurs comme OVH, mais en même temps petit à petit l’HéberBon installe ses propres serveurs dans Data Center pour proposer à ces clients le serveur dédié.</p>

        <p>L’Héberbon pense de proposer pour ces clients:</p>
        <p>Serveurs et Infrastructure : L'HéberBon possède des serveurs puissants et des équipements réseau pour stocker les fichiers, les bases de données et les ressources nécessaires aux sites web et aux applications.</p>
        <p>Disponibilité : L'HéberBon garantit une disponibilité de son service de 99,9 % minimum.</p>
        <p>Vitesse : L'HéberBon garantit une vitesse de chargement de votre site web rapide, afin d'offrir une bonne expérience utilisateur.</p>
        <p>Sécurité : L'HéberBon propose des mesures de sécurité efficaces pour protéger les sites web contre les attaques.</p>
        <p>Support client : L'HéberBon propose un support client disponible 24h/24, 7j/7, pour répondre aux questions des ces clients et aider en cas de problème.</p>
        <p>Prix : L’HéberBon propose des prix compétitifs, adaptés au budget des ces clients.</p>
        <p>Réseau:</p>
        <p>Noms de Domaine :  L'HéberBon permet aux clients d'enregistrer et de gérer leurs adresses web personnalisées.</p>
        <p>Sauvegarder les données: HéberBon aide à choisir la bonne base de données, comment construire et les méthodes de sauvegarde de données. Aussi peut assister de déplacer l’app web d’utilisateur d’autre hébergement vers le serveur d’HéberBon.</p>

        <p>Le principe de l’HéberBon est d'être avec ces clients jusqu’à but. C'est-à-dire qu'on propose une plateforme simple aux clients où ils ne perdra pas, au contraire s' il sait ces besoins il peut configurer son serveur de A à Z. </p>

    </div>
<br/><br/>
{% endblock content %}
