{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h2>Run server</h2>
    <script>
        function confirmAction(){
            let confirmAction = confirm("Are you sure to execute this actions?")
            if (confirmAction){
                alert("Action successfully executed");
            } else {
                alert("Action canceled")
            }
        }
    </script>
    {% for name_run_un_environnement_de_bureau in name_run_environnement_de_bureau %}
        <table border='1'>
            <tr>
                <td>
                    Nom de serveur: {{ name_run_un_environnement_de_bureau }}
                    <br>
                    <br>
                    <p><b>les boutons ci-dessous contrôlent le serveur<b></p>
                    <button type="button" onclick="confirmAction()" class="btn btn-success">Run</button>
                    <button type="button" onclick="confirmAction()" class="btn btn-danger">Stop</button>
                    <button type="button" onclick="confirmAction()" class="btn btn-primary">Restart</button>
                </td>

            </tr>
        </table>
        <br>
    {% endfor %}


{% endblock content %}
