<html>
    <head>
        <title>Heberbon</title>
            {% load bootstrap5 %}
            {% bootstrap_css %}
            {% bootstrap_javascript %}
            {% block navbar_accueil %}{% include 'navbar_accueil.html' %}{% endblock navbar_accueil%}
    </head>
    <body>
        <h1>Heberbon</h1>
        {% block content %}{% endblock content %}
    </body>
</html>
