<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<!--    -->
    <a class="navbar-brand" href="#">Heberbon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--      -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--  -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Panneau configuration</a>
        </li>
<!-- Run    -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Run
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'run_machine' %}">Run des machines virtuelles</a></li>
            <li><a class="dropdown-item" href="{% url 'run_hebergement' %}">Run des hebergements</a></li>
            <li><a class="dropdown-item" href="{% url 'run_environnement_de_bureau' %}">Run des environnements de bureau</a></li>
          </ul>
          </li>
<!-- List    -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Liste
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'list_machines_virtuelles' %}">liste des machines virtuelles</a></li>
            <li><a class="dropdown-item" href="{% url 'list_hebergements' %}">Liste des  hebergements</a></li>
            <li><a class="dropdown-item" href="{% url 'list_environnement_de_bureau' %}">Liste des environnements de bureau</a></li>
             <li><a class="dropdown-item" href="{% url 'list_noms_domaines' %}">Liste des noms des domaines</a></li>
          </ul>
          </li>
<!-- Create  -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Création
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'creation_machine_virtuelle' %}">Creation une machine virtuelle</a></li>
            <li><a class="dropdown-item" href="{% url 'creation_hebergement' %}">Creation un hebergement</a></li>
            <li><a class="dropdown-item" href="{% url 'creation_environnement_de_bureau' %}">Creation un système avec l'environnement de bureau</a></li>

            <li><a class="dropdown-item" href="{% url 'creation_nom_domaine' %}">Creation un nom domaine</a></li>
          </ul>
        </li>
<!--  -->
      </ul>
<!--        -->
      <div class="connexion-header">
      {%  if user.is_authenticated %}
            <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
      <div>

    </div>
  </div>
</nav>
