<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<!--    -->
    <a class="navbar-brand" href="{% url 'la_primaire_page_accueil' %}">Heberbon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--      -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--  -->
<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>

          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'qui_somme_nous' %}"> Qui somme nous?</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Tarifs</a>
          </li>

        </li>
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>

      </ul>
<!--        -->
      <ul>
        <li>

          <a class="nav-link active" aria-current="page" href="{% url 'connexion' %}">Connexion</a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Créer un compte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
