{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


    <p>C'est une page principale quand l'utilistateur a conecté.</p>

<br/><br/>
{% endblock content %}
